<div
	style='padding: 1em; box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);'
>
	<div style='font-size: 1.2rem; font-weight: 300; margin-bottom: 20px;'>
		Staffing Request Accepted for
		{{vaName}}
	</div>
	<div style='font-size: 0.9rem;'>
		Hello
		{{name}},
		<br /><br />
		Your staffing request was accepted. There may or may not have been changes to the requested
		route. This is included in the email below for you to verify. I hope you would take this into
		consideration. Thank you for using our request tool.<br />
		<br />
		Time Requested:
		<strong>{{formatDate date}}</strong><br />
		Number of Pilots:
		<strong>{{pilots}}</strong><br />
		Requested Route:
		<strong>{{route}}</strong><br />
		Additional Information:
		<strong>{{description}}</strong><br /><br />

		If due to unforeseen circumstances you need to cancel the request, please let the events team
		know as soon as possible by sending an email to
		<a
			href='mailto:events@zauartcc.org'
			style='text-decoration: none; font-weight: 700; color: #192d66;'
		>events@zauartcc.org</a>.<br /><br />Sincerely,<br />The ZAU Events Team
	</div>
</div>